*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 10px;
  display: flex;
  flex-direction: column;  
  align-items: center;
  width: 100%;
  max-width: 600px;
}
h1{
  margin: 10px;
  
}
.buttons{
  margin: 20px;
  display: flex;
  justify-content: space-around;
  width: 60%;
  min-width: 350px;
  
}

.buttons button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

#petImg {
  background-color: rgb(99, 97, 97);
  border: 2px solid white;
  aspect-ratio: 1/1;
  width: 90%;
  margin: 40px 10px;
}